<div *ngIf="form" [formGroup]="form">
  <ng-container *ngIf="isMulti; else singleInput">
    <div class="mb-5" [formArrayName]="field.fieldName">
      <label class="me-2">{{ field.fieldName }}</label>

      <div class="d-flex gap-1 mb-2" *ngFor="let multiField of getFormArray(field.fieldName).controls; let i = index">
        <input [formControlName]="i" [attr.type]="field.type === 'int' ? 'number' : 'text'" [ngClass]="{
          'form-control': true,
          'is-invalid': multiField.touched && multiField.invalid
        }" />
        <button class="btn btn-danger btn-sm" type="button" (click)="removeMulti( i)">X</button>

        <div class="invalid-feedback" *ngIf="multiField.touched && multiField.hasError('required')">
          {{ field.fieldName }} is required.
        </div>

      </div>

      <button class="btn btn-primary btn-sm" type="button" (click)="addMulti()">
        Add {{ field.fieldName }}
      </button>
    </div>
  </ng-container>
  <ng-template #singleInput>
    <div class="mb-2">
      <label class="me-2">{{ field.fieldName }}</label>
      <input [formControlName]="field.fieldName" [attr.type]="field.type === 'int' ? 'number' : 'text'" [ngClass]="{
        'form-control': true,
        'is-invalid': form.get(field.fieldName)?.touched && form.get(field.fieldName)?.invalid
      }" />
      <div class="invalid-feedback"
        *ngIf="form.get(field.fieldName)?.touched && form.get(field.fieldName)?.hasError('required')">
        {{ field.fieldName }} is required.
      </div>

    </div>
  </ng-template>
</div>